@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pastel-pink: #FFD1DC;
  --color-pastel-blue: #AEC6CF;
  --color-pastel-yellow: #FDFD96;
  --color-pastel-green: #B0F2B6;
  --color-white: #FFFFFF;
  --color-black: #333333;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

