@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pink: #FFC0CB;
  --color-white: #FFFFFF;
  --color-black: #333333;
  --color-cream: #FFFDD0;
  --color-green: #98FB98;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

